body {
    font-family: Arial, Helvetica, sans-serif;
}

.task-description {
    padding: 10px;
    margin-bottom: 40px;
    background-color: lightcyan;
}

form {
    width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    margin: 5px 5px 5px 0;
    height: 2em;
}

input[type="submit"], input[type="reset"] {
    display: inline-block;
}