body {
    text-align: center;
    align-items: center;
}

img {
    width: 30%;
    cursor: pointer;
}

.zoomed-pic {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: 800px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.85) ;
}

.zoomed-pic::after {
    position: fixed;
    right: 15px;
    top: 15px;
    content: 'Close';
    cursor: pointer;
    border-radius: 45px;
    padding: 5px 10px;
    background: darkgrey;
    color: black;
}